{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-inline mt-4 row justify-content-center" action="">

            {% if criteria.search != '' %}
                <input type="text" name="search" id="search" class="mr-3 form-control" placeholder="Recherche"
                       value="{{ criteria.search }}">{% else %}
                <input type="text" name="search" id="search" class="mr-3 form-control" placeholder="Recherche">
            {% endif %}

            <select name="couleur" class="custom-select custom-select-md mr-3">
                {% if criteria.colour == null %}
                    <option value="All" selected>Toutes les couleurs</option>
                {% else %}
                    <option value="All">Toutes les couleurs</option>
                {% endif %}
                {% for color in colors %}
                    {% if criteria.colour != null and criteria.colour.id == color.id %}
                        <option value="{{ color.id }}" selected>{{ color.name }}</option>
                    {% else %}
                        <option value="{{ color.id }}">{{ color.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>


            <select name="marque" class="custom-select custom-select-md mr-3">
                {% if criteria.brand == null %}
                    <option value="All" selected>Toutes les marques</option>
                {% else %}
                    <option value="All">Toutes les marques</option>
                {% endif %}
                {% for brand in brands %}
                    {% if criteria.brand != null and criteria.brand.id == brand.id %}
                        <option value="{{ brand.id }}" selected>{{ brand.name }}</option>
                    {% else %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="categorie" class="custom-select custom-select-md mr-3">
                {% if criteria.category == null %}
                    <option value="All" selected>Toutes les catégories</option>
                {% else %}
                    <option value="All">Toutes les catégories</option>
                {% endif %}
                {% for categorie in categories %}
                    {% if criteria.category != null and criteria.category.id == categorie.id %}
                        <option value="{{ categorie.id }}" selected>{{ categorie.name }}</option>
                    {% else %}
                        <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="region" class="custom-select custom-select-md mr-3" id="regions">
                {% if criteria.region == "" %}
                    <option value="All" selected>Toute la France</option>
                {% else %}
                    <option value="All">Toute la France</option>
                    <option value="{{ criteria.region }}" selected>{{ criteria.region }}</option>
                {% endif %}
            </select>

            <select name="departement" class="custom-select custom-select-md mr-3" id="departement">
                {% if criteria.departement == "" %}
                    <option value="All" selected>Toute la région</option>
                {% else %}
                    <option value="{{ criteria.departement }}" selected>{{ criteria.departement }}</option>
                {% endif %}
            </select>


            <div>
                <button class="btn btn-light text-dark bouton pull-right" type="submit">Rechercher</button>
            </div>
        </form>

        <ul id="listHome">
                {% for annonce in annonces %}
                    <a href="{{ path('product_show', {'id': annonce.id}) }}" style="text-decoration: none; color: black">
                        <li id="cardHome">
                            <div class="produits mt-5">
                                <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem;">
                                    <img src="{{ asset('uploads/productPictures/'~annonce.picture) | imagine_filter('my_thumb') }}" class="card-img-top" alt="Photo du produit">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ annonce.title }}</h5>
                                        <p class="card-text">{{ annonce.description }}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ annonce.brandname }}</li>
                                        <li class="list-group-item">{{ annonce.price }} €</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </a>
                {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var regions = $("#regions");

        $(document).ready(function () {
            regionsCall();
            regions.on("mouseout", function () {
                departementCall();
            });
        });

        /**
         * fonction affichant les régions via l'api
         */
        function regionsCall() {

            $.ajax({
                url: 'https://geo.api.gouv.fr/regions?fields=nom',
                method: 'get',
                dataType: "json",
                contentType: "application/json"
            }).done(function (result) {
                for (var i = 0; i < result.length; i++) {
                    var element = $('<option></option>').text(result[i].nom);
                    regions.append(element);
                }
            });

        }

        /**
         * fonction affichant les départements via la région sélectionnée
         */
        function departementCall() {
            var region = $('#regions option:selected').text();
            $('#departement').text('');
            $.ajax({
                url: 'https://geo.api.gouv.fr/regions?nom=' + region + '&fields=nom',
                method: 'get',
                dataType: "json",
                contentType: "application/json"
            }).done(function (result) {
                var code = result[0].code;
                $.ajax({
                    url: 'https://geo.api.gouv.fr/departements?codeRegion=' + code + '&fields=nom',
                    method: 'get',
                    dataType: "json",
                    contentType: "application/json"
                }).done(function (res) {
                    var tous = $('<option value="All"></option>').text("Toute la région");
                    $('#departement').append(tous);
                    for (var i = 0; i < res.length; i++) {
                        var element = $('<option></option>').text(res[i].nom + '-' + res[i].code);
                        $('#departement').append(element);
                    }
                });
            })
        }
    </script>
{% endblock %}
